{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JARVIS</title>
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto:100i,300i,400,400i,500" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>
</head>

<body>
<header>
<h1 class="logo">JARVIS</h1>
</div>
</header>
<div class="container-fluid">
    {% block content %}
    {% endblock content %}
</div>

<!-- Scripts -->
    <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'node_modules/underscore/underscore-min.js' %}"></script>
    <script src="{% static 'node_modules/backbone/backbone-min.js' %}"></script>
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'node_modules/requirejs/require.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>
    {% block javascript %}
    {% endblock javascript %}
</body>
</html>
