<h1> MODEL <%= external_id %></h1>

<div class="row">
<canvas height="400"></canvas>
</div>
<div class="row">
    <div class="col-md-6 network-info">
        <table>
            <tr>
                <td>Number of inputs: </td>
                <td class="value"><%= num_inputs %></td>
            </tr>
            <tr>
                <td>Number of hidden units: </td>
                <td class="value"><%= num_hidden %></td>
            </tr>
            <tr>
                <td>Number of outputs: </td>
                <td class="value"><%= num_outputs %></td>
            </tr>
            <tr>
                <td>Cost function: </td>
                <td class="value"><%= cost %></td>
            </tr>
            <tr>
                <td>Optimizer: </td>
                <td class="value"><%= optimizer %></td>
            </tr>
            <tr>
                <td>Learning rate: </td>
                <td class="value"><%= learning_rate %></td>
            </tr>
            <tr>
                <td>Permission type: </td>
                <td class="value"><%= permission_type %></td>
            </tr>
        </table>
    </div>
    <div class="col-md-6 error-rate-graph">
        <canvas id="training-results" width="600" height="400"></canvas>
        <table>
            <tr>
                <td>Latest cost: </td>
                <td><%= latest_cost %></td>
            </tr>
        </table>
    </div>
</div>

<div class="row inference">
    <div class="form-input col-md-3">
        <textarea rows="5"></textarea>
        <button class="action-btn run-inference">RUN INFERENCE</button>
    </div>

    <div class="results-table col-md-9">
        <table class="inference-results"></table>
    </div>
</div>
